################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/

/BTL_QlBi_a/wwwroot/asset/css/table.css
/BTL_QlBi_a/wwwroot/asset/css/table.css
